<div class="container mt-3">
    <div class="jumbotron">
        <h1 style="color:blue;">Vista de Productos</h1>
        <br/>

        {{#if productos}}
            <div class="table-responsive">
                <table class="table table-dark">
                    <tr class="text-white fw-bold"> 
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Imagen</th>
                    </tr>

                    {{#each productos}}
                        <tr>
                            <td class="align-middle">{{id}}</td>
                            <td class="align-middle">{{title}}</td>
                            <td class="align-middle">${{price}}</td>
                            <td class="align-middle">
                                <img src={{thumbnail}} style="width: 80px">
                            </td>
                        </tr>
                    {{~/each}}

                </table>
            </div>
        {{^}}
            <h3 class="alert alert-danger">No se encontraron productos</h3>
        {{/if}}

        <br/>
        <a href="/" method="GET" class="bg-primary text-white border rounded p-2">Formulario de carga</a>
    </div>
</div>